extends layout

block hero-unit
  .container
    h1 SDUCK-SURVEY

block content
  .container
    .row
      .col-md-6
        h3 설문 조사 게시판
        p 사람들이 올린 설문을 해보세요.
        a.btn.btn-primary(href='/survey/') 게시판 가기
      .col-md-6
        h3 주요 기능
        ul
          li 설문지 작성으로 로그인 하시면 누구나 가능해요.
          li 다양한 설문 문항으로 여러 설문을 준비하세요.
          li URL을 통해 친구들에게 알려보세요.
          li 간편하게 응답자 현황을 체크하세요.
